/**
 * 定义动画公共的属性值
 */
@mixin motion-common {
  animation-duration: $animation-time;
  animation-fill-mode: both;
}

/**
 * 生成动画过度类，当使用<transition></transition> 调用
 */
@mixin make-motion($className, $keyframeName) {
  .#{$className}-enter-active, .#{$className}-appear {
    @include motion-common;
    animation-play-state: paused;
  }

  .#{$className}-leave-active {
    @include motion-common;
    animation-play-state: paused;
  }

  .#{$className}-enter-active, .#{$className}-appear {
    animation-name: #{$keyframeName}In;
    animation-play-state: running;

  }

  .#{$className}-leave-active {
    animation-name: #{$keyframeName}Out;
    animation-play-state: running;
  }
}


@import "./move";