// Prefix
$css-prefix-scoped    : 'vux-';
$css-prefix-iconfont  : 'vux-icon';

// fontSize
$baseFontSize         : 40.5px;

// Animation
$animation-time       : .3s;
$transition-time      : .2s;
$ease-in-out          : 'ease-in-out';
$ease                 : 'ease';
$ease-in              : 'ease-in';
$ease-out             : 'ease-out';
$linear               : 'linear';
